PORT = 8000
DB_URL = "mongodb://localhost:27017/cv_builder"
SALT_ROUND = <1-10>


#MAIL
SMPT_SERVICE = "gmail / yahoo/ outlook"
SMPT_EMAIL = "john@doe.com"
SMPT_PASS = ""


#JWT
JWT_SECRET = "secret"
JWT_DURATION = "1h"